body {
  font-family: Arial, sans-serif;
  padding: 20px 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 10px;
  padding: 0;

}
button{
  background-color: #04aa6d; 
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
a{
  color: white;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 